$main-color:#DAA520;
$containerWidth:1003px;
$baseFontSize:24px;
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Nunito:wght@400;600;700&display=swap');
@import './blocks/*.scss';
